<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCTOyKDm_bX8G_LkHMD-EEoO-21QMnWZc</string>
	<key>GCM_SENDER_ID</key>
	<string>1080748012487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmv.frontend</string>
	<key>PROJECT_ID</key>
	<string>certifai-2c53f</string>
	<key>STORAGE_BUCKET</key>
	<string>certifai-2c53f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080748012487:ios:ced21e7c3019a362eadfe2</string>
</dict>
</plist>